a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #696871;
    background-color: #fff;
}

.header{
    font-family: 'DMSans';
    font-size: 15px;
    line-height: 18px;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 125px 0;
    font-family: 'DMSans';
}

.menu{
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

.menu-items{
    padding-right: 50px;
}

.nav-btn{
    padding: 19px 60px;
    background: #FF7143;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.home-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 112px;
}

.home-items{
    display: inline-block;
    width: 50%;
    margin-right: 77px;
}

.home-title{
    font-family: 'DMSans';
    font-size: 80px;
    line-height: 77px;
    color: #19191B;
    margin: 0 0 30px 0;
    margin-bottom: 30px;
    
}

.home-text{
    padding-bottom: 50px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

.home-btn{
    background: #5454D4;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 60px;
}

.home-img {
    display: flex;
    margin-left: auto;
  }
  
.home-img img {
    width: 620px;
  }

.partners-title{
    visibility: hidden;
    position: absolute;
}

.list-partners{
    display: inline-flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;

}

.list-partners {
    margin-right: 140px;
}

.list-partners:last-child {
    margin-right: 0;
}

.home-1-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 85px;
}

.home-2-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}

.home-1-items{
    margin: 50px 0 0 166px;
    padding-right: 200px;

}

.home-2-items{
    margin: 80px 60px 0 0;
    padding-right: 200px;

}

.home-1-img{
     display: flex;

}
.home-2-img{
    display: flex;
    margin-right: 70px;
}

.home-1-title,
.home-2-title{
    font-family: 'DMSans';
    font-size: 50px;
    line-height: 57px;
    color: #19191B;
    margin-bottom: 30px;
}

.home-1-text,
.home-2-text{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
    margin-bottom: 30px;
}

.home-1-btn,
.home-2-btn{
    font-family: 'DMSans';
    font-size: 17px;
    line-height: 20px;
    color: #5454D4;
}

.blog-title{
    visibility: hidden;
    position: absolute;
}

.blog-tbl{
    margin-bottom: 150px;
    display: flex;
}

.table-icons img{
    width: 151px;
    height: 97px;
}

.start{
   margin-right: 100px;
}

.middle{
   margin-right: 110px;
}

.table-bold{
    font-family: 'DMSans';
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #19191B;
}

.table-b{
    padding:0 100px 20px 0;
}

.table-b:last-child{
    padding-right: 0;
}

.table-text{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.table-p{
    padding-right: 70px;
}

.table-p:last-child{
    padding-right: 0;
}

.plan{
    justify-content: space-between;
    display: flex;
    align-items:center;
    margin-bottom: 82px;
}

.plan-title{
    font-family: 'DMSans';
    font-size: 60px;
    line-height: 70px;
    color: #19191B;
    margin-right: 350px;

}

.plan-btn{
    display: flex;
    flex-direction: row;
}

.plan-year{
    background: #5454D4;
    border-radius: 10px 0px 0px 10px;
    font-family: 'DMSans';
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    color: #FFFFFF;
    padding: 18px 60px 16px;
}

.plan-month{
    background: #F7F7FB;
    border-radius: 10px 0px 0px 10px;
    font-family: 'DMSans';
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    color: #19191B;
    padding: 18px 60px 16px;
}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
}

.starter-mnt,
.enterprice-mnt{
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    border-radius: 10px; 
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    color: #696871;
    padding: 34px 35px 27px 35px;
}

.pr-title-1,
.pr-title-3{
    font-family: 'DMSans';
    font-size: 60px;
    line-height: 56px;
    color: #1D293F;
    margin-bottom: 28px;
    margin-block-start: 0;
}

.tarif-1, .tarif-2, .tarif-3{
    margin-bottom: 22px;
}

.info-1, .info-2, .info-3{
    margin-bottom: 36px;
}

.free-btn,
.enter-btn{
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-family: 'DMSans';
    font-size: 17px;
    line-height: 20px;
    color: #5454D4;
    padding: 19px 80px;
}

.premium-mnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FF7143;
    border-radius: 10px;
    margin: 0 17px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 34px 43px 37px;
}

.pr-title-2{
    font-family: 'DMSans';
    font-size: 60px;
    line-height: 56px;
    margin-bottom: 28px;
    margin-block-start: 0;
}

.prem-btn{
    background: #9F3919;
    border-radius: 10px;
    font-family: 'DMSans';
    font-size: 17px;
    line-height: 20px;
    padding: 19px 90px;
}

.footer-text{
    font-family: 'Mulish';
    font-size: 10px;
    line-height: 18px;
    color: #696871;
    display: flex;
    align-items: center;
    padding: 50px 0;
}









  